<!doctype html>
<html>
  <head>
    <title>{{ .Title }} | {{ $.Site.Title }}</title>

    <meta charset="utf-8">
    
    <meta name="description" content="{{ .Params.teaser }} {{ $.Site.Params.Description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/syntax-highlighting.css" rel="stylesheet">
  </head>
  <body class="tutorial">

    {{ partial "header.html" . }}

    <div class="tutorial-post">
      
      <div class="tutorial-sidebar">

        <div id="tutorial-code" class="tutorial-code"></div>
        
        <div class="tutorial-send-code">
          <span>➵</span>
        </div>

        <iframe class="tutorial-frame" src="/utils/injectable-iframe.html" sandbox="allow-same-origin allow-scripts"></iframe>

      </div>

      <div class="tutorial-content">
        {{ .Content }}
        {{ partial "codepen-prefil.html" . }}
      </div>
    </div>
    
    {{ partial "footer.html" . }}

    <script src="/js/tmd.js"></script>
    <script src="/js/codepen-prefil.js"></script>
    <script src="/js/favicon.js"></script>
    <script src="/js/libs/monaco-editor/min/vs/loader.js"></script>

    <script>

        require.config({ paths: { 'vs': '/js/libs/monaco-editor/min/vs' }});
        var tmd, editor;

        require(['vs/editor/editor.main'], function() {
          editor = monaco.editor.create(document.querySelector('#tutorial-code'), {
            value: [
              '// Welcome to Tutorial Markdown.',
              '// start scrolling, and we\'ll',
              '// write the code.'
            ].join('\n'),
            lineNumbersMinChars: 2,
            scrollBeyondLastLine: false,
            language: 'javascript',
            fontSize: 10,
            minimap: { enabled: false },
            hover: false,
            occurrencesHighlight: false
          })

          editor.getModel().updateOptions({ tabSize: 2 })

          tmd = new TutorialMarkdown({
            editor: {
              editor: editor,
               api: monaco
             },
             iframe: document.querySelector('.tutorial-frame'),
             markdownSelector: {
               blockSelector: '.tmd-trigger', // Selector for code blocks in the tutorial
               codeSelector: '.lntd:nth-child(2) .language-js' // Selector for the code WITHIN the block
             }
          })
        })

        document.querySelector('.tutorial-send-code').addEventListener('click', function() {
          tmd.sendCode()
        })
    </script>

    {{ partial "tracking.html" . }}
  </body>
</html>
