<!doctype html>
<html>
  <head>
    <title>{{ .Title }} | {{ $.Site.Title }}</title>

    <meta charset="utf-8">
    
    <meta name="description" content="{{ .Params.teaser }} {{ $.Site.Params.Description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body class="episode">

    {{ partial "header.html" . }}

    <div class="tutorial-post">
      
      <div class="sidebar audio-sidebar">

				
        <audio src="{{ .Params.mp3 }}" controls></audio>

      	<div class="interactive-option">	
	        <input type="checkbox" id="interactive" name="interactive"
	       checked>
					<label for="interactive">Play with transcription and media attached to podcast.</label>
				</div>

      </div>

      <div class="tutorial-content episode-content">
      	<div class="tutorial-content-wrapper">
        	{{ .Content }}
      	</div>
      </div>
    </div>

    {{ partial "footer.html" . }}

    <script src="/js/transcription-markdown.js"></script>

    {{ partial "tracking.html" . }}
  </body>
</html>
