<!doctype html>
<html>
  <head>
    <title>Generative Artistry</title>

    <!-- META -->
    <meta charset="utf-8">

    <meta name="description" content="Generative art tutorials, news and love.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body class="main">
    {{ partial "header.html" . }}
    
      {{ $paginator := .Paginate (where .Pages ".Params.type" "!=" "page") (index .Site.Params "paginate" | default 100) }}
      {{ if gt $paginator.TotalPages 0 }}
        {{ range $index, $page := $paginator.Pages }}

          <article>
            <div class="article-number">
              {{ .Params.number }}
            </div>
            
            <img class="article-image" src="{{ .Params.image }}">
            
            <div class="article-content">
              <h1>
                <a href="{{ .Permalink }}">
                  {{ .Title }}
                </a>
              </h1>

              <p>
                {{ .Params.teaser }}
              </p>

              <p class="article-links">
                <a href="{{ .Permalink }}">Check out the tutorial</a>
              </p>
            </div>
          </article>

        {{ end }}
      {{ end }}
    {{ partial "footer.html" . }}
    {{ partial "tracking.html" . }}
    </script>
  </body>
</html>


