<!doctype html>
<html>
  <head>
    <title>Generative Artistry</title>

    <meta charset="utf-8">
    
    <meta name="description" content="Generative art tutorials, news and love.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/syntax-highlighting.css" rel="stylesheet">
  </head>
  <body class="tutorial">

    {{ partial "header.html" . }}

    <div class="tutorial-post">
      
      <div class="tutorial-sidebar">

        <div id="tutorial-code" class="tutorial-code"></div>
        
        <div class="tutorial-send-code">
          <span>➵</span>
        </div>

        <iframe class="tutorial-frame" src="/utils/injectable-iframe.html" sandbox="allow-same-origin allow-scripts"></iframe>

      </div>

      <div class="tutorial-content">
        {{ .Content }}
        {{ partial "codepen-prefil.html" . }}
      </div>
    </div>
    
    {{ partial "footer.html" . }}

    <script src="/js/libs/monaco-editor/vs/loader.js"></script>
    <script src="/js/tutorialManager.js"></script>
    <script src="/js/codepen-prefil.js"></script>
    <script src="/js/favicon.js"></script>

    {{ partial "tracking.html" . }}
  </body>
</html>
