<!doctype html>
<html>
  <head>
    <title>Generative Artistry</title>

    <!-- META -->
    <meta charset="utf-8">
    
    <!-- <link rel="mask-icon" href="safari-tab-icon.svg" color="#000000"> -->
    <meta name="description" content="Generative art tutorials, news and love.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  </head>

    {{ partial "header.html" . }}

    <div class="wrapper tutorials">
      <div class="technical-sidebar">
        <div id="code-area" class="code-area"></div>
        <div class="send-it"><span></span></div>
        <iframe src="/utils/injectable-frame.html" sandbox="allow-same-origin allow-scripts"></iframe>
      </div>
      <div class="content">
        {{ .Content }}
      </div>
    </div>
    
    {{ partial "footer.html" . }}

    <!-- <script src="/js/libs/monaco-editor/vs/loader.js"></script> -->
    <!-- <script src="/js/tutorialManager.js"></script> -->
  </body>
</html>
