/**
 * Base
 */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  padding: 0px;
  margin: 0px;
}

.wrapper {
  max-width: 960px;
  margin: auto;
}

a {
  color: inherit;
}

code {
  font-weight: bold;
}

/**
 * Episodes
 */

.episode-content {
      max-width: 450px;
  padding: 20px;
}

/**
 * Header & Footer
 */

header, footer {
  font-weight: bold;
  font-size: 18px;
  padding: 40px;
  width: 100%;
}

.tutorial header,
.episode header {
  background: #fafafa;
}

header .wrapper, footer .wrapper {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}

header a, footer a {
  color: #222;
  text-decoration: none;
}

.tutorial footer,
.episode footer {
  background: #fafafa;
}

.links a {
  border-bottom: 2px solid;
}

footer .coffee {
  border-bottom: 0px;
  line-height: 24px;
  font-size: 28px;
}



/**
 * Home
 */

article {
  padding-bottom: 40px;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

article:nth-child(even) {
  background: #fafafa;
  flex-direction: row-reverse;
}

/*Footer if there is an even number of posts*/
article:nth-child(odd) + footer {
    background: #fafafa;
}

.article-number {
  vertical-align: top;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 260px;
  width: 320px;
  line-height: 180px;
  height: 196px;
  z-index: 1;
}

.article-image {
  margin-right: -120px;
  margin-left: -120px;
  width: 400px;
  height: 400px;
}

.article-content {
  background: rgba(0, 0, 0, 0.85);
  font-weight: lighter;
  vertical-align: top;
  position: relative;
  text-align: left;
  font-size: 10px;
  width: 400px;
  padding: 20px;
  color: #fff;
}

.article-content h1 {
  font-size: 20px;
  margin-top: 0px;
}

.article-content p {
  font-size: 15px;
  margin-bottom: 10px;
}

.article-links {
  display: inline-block;
  margin-top: 20px;
}

.article-links a {
  color: white;
  text-decoration: none;
  border: 2px solid;
  padding: 10px 15px;
  font-weight: bold;
}

.sidebar {
  flex-direction: column;
  padding-right: 30px;
  position: sticky;
  height: 100vh;
  display: flex;
  width: 350px;
  top: 0px;
}

/**
 * Tutorials
 */

.tutorial-post {
  justify-content: center;
  display: flex;
}

.tutorial-sidebar {
	justify-content: center;
  align-items: flex-end;
}

.tutorial-content {
  padding: 20px;
  padding-bottom: 50vh;
  width: 560px;
  color: #222;
}

.tutorial-content h1 {
  font-size: 28px;
}

.tutorial-content img {
  background: #f9f9f9;
  display: block;
  margin-bottom: 20px;
  max-width: 320px;
  width: 100%;
}

.tutorial-content p {
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 15px;
}

.tutorial-content li {
  font-size: 15px;
  margin-bottom: 10px;
}

.tutorial-content p code {
  background-color: #eee;
}

.tutorial-contributor {
  background: #eee;
  padding: 30px;
}

.tutorial-code {
  width: 320px;
  height: 280px;
}

.tutorial-send-code {
  width: 30px;
  height: 30px;
  font-size: 25px;
  transform: scaleX(-1.0);
  margin-right: -35px;
  cursor: pointer;
}

.tutorial-frame {
  border-top: 20px solid;
  background: #f9f9f9;
  height: 320px;
  width: 320px;
  border: 0px;
}

.chroma {
  overflow: auto;
}

form {
  background: #f9f9f9;
  padding: 10px 20px;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
  border-left: 2px solid;
}

form input {
  background: none;
  border: none;
  color: blue;
  font-size: 15px;
  font-family: inherit; 
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

.episode-content {
	min-height: calc(100vh - 150px);
	padding-bottom: 0;
}

/**
 * Podcast
 */

audio {
	width: 100%;
  margin-top: 35px;
  min-width: 250px;
}

.audio-sidebar {
	height: calc(100vh - 210px);
	padding-left: 10px;
	display: block;
}

details {
	font-size: 14px;
}

details .content {
  padding: 20px;
  background: #f9f9f9;
  margin-top: 10px;
}

.summary {
	font-size: 14px;
}

.interactive-option {
	margin-top: 15px;
  font-size: 14px;
  color: #333;
  font-style: italic;
  padding: 0 8px
}

.rich-content {
  margin-top: 10px;
  padding: 30px;
  background: #f9f9f9;
  border-radius: 30px;
  vertical-align: top;
}

.who:before {
  content: '';
  width: 45px;
  height: 45px;
  background: red;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: -40px;
  margin-top: -40px;
  position: absolute;
}

.tim:before {
	background: green;
}

.speaker:before {
	background: orange;
}

.ruth:before {
	background: pink;
}

.rich-content img {
	width: auto;
	margin-bottom: 0;
	max-width: 100%;
	max-height: 200px;
}

@media only screen and (max-width: 900px) {
  article {
    flex-direction: column !important; /* Override nth child */
  }

  form {
    display: none;
  }

  .article-image {
    width: 90%;
    height: auto;
  }

  .article-number {
    display: none;
  }

  .article-content {
    margin-top: -150px;
    width: 100%;
  }

  .links {
    text-align: right;
  }

  .tutorial-sidebar {
    display: none;
  }

  .tutorial-content {
    width: 100%;
    padding-bottom: 50px;
  }
}
