/**
 * Base
 */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  padding: 0px;
  margin: 0px;
}

.wrapper {
  max-width: 960px;
  margin: auto;
}

a {
  color: inherit;
}

code {
  font-weight: bold;
}

/**
 * Header & Footer
 */

header, footer {
  font-weight: bold;
  font-size: 18px;
  padding: 40px;
  width: 100%;
}

.tutorial header {
  background: #fafafa;
}

header .wrapper, footer .wrapper {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}

header a, footer a {
  color: #222;
  text-decoration: none;
}

.tutorial footer {
  background: #fafafa;
}

.links a {
  border-bottom: 2px solid;
}

footer .coffee {
  border-bottom: 0px;
  line-height: 24px;
  font-size: 28px;
}

/**
 * Home
 */

article {
  padding-bottom: 40px;
  padding-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

article:nth-child(even) {
  background: #fafafa;
  flex-direction: row-reverse;
}

/*Footer if there is an even number of posts*/
article:nth-child(odd) + footer {
    background: #fafafa;
}

article:last-of-type {
  margin-bottom: 0px;
}

.article-number {
  vertical-align: top;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 260px;
  width: 320px;
  line-height: 180px;
  height: 196px;
  z-index: 1;
}

.article-image {
  margin-right: -120px;
  margin-left: -120px;
  width: 400px;
  height: 400px;
}

.article-content {
  background: #000000dd;
  font-weight: lighter;
  vertical-align: top;
  position: relative;
  text-align: left;
  font-size: 10px;
  width: 400px;
  padding: 20px;
  color: #fff;
}

.article-content h1 {
  font-size: 20px;
  margin-top: 0px;
}

.article-content p {
  font-size: 15px;
  margin-bottom: 10px;
}

.article-links {
  display: inline-block;
  margin-top: 20px;
}

.article-links a {
  color: white;
  text-decoration: none;
  border: 2px solid;
  padding: 10px 15px;
  font-weight: bold;
}

/**
 * Tutorials
 */

.tutorial-post {
  justify-content: center;
  display: flex;
}

.tutorial-sidebar {
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 30px;
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  display: flex;
  width: 350px;
  top: 0px;
}

.tutorial-content {
  padding: 20px;
  padding-bottom: 50vh;
  width: 560px;
  color: #222;
}

.tutorial-content h1 {
  font-size: 28px;
}

.tutorial-content p {
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 15px;
}

.tutorial-code {
  width: 320px;
  height: 280px;
}

.tutorial-send-code {
  width: 30px;
  height: 30px;
  font-size: 25px;
  transform: scaleX(-1.0);
  margin-right: -35px;
  cursor: pointer;
}

.tutorial-frame {
  border-top: 20px solid;
  background: #f9f9f9;
  height: 320px;
  width: 320px;
  border: 0px;
}
