/**
 * Base
 */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  padding: 0px;
  margin: 0px;
}

.wrapper {
  max-width: 960px;
  margin: auto;
}

a {
  color: inherit;
}

/**
 * Header & Footer
 */

header, footer {
  font-weight: bold;
  font-size: 18px;
  padding: 40px;
  width: 100%;
}

header .wrapper, footer .wrapper {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}

header a, footer a {
  color: #222;
  text-decoration: none;
}

/**
 * Home
 */

article {
  padding-bottom: 40px;
  padding-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

article:nth-child(even) {
  background: #fafafa;
  flex-direction: row-reverse;
}

.article-number {
  vertical-align: top;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 260px;
  width: 320px;
  line-height: 180px;
  height: 196px;
  z-index: 1;
}

.article-image {
  margin-right: -120px;
  margin-left: -120px;
  width: 400px;
}

.article-content {
  background: #000000dd;
  font-weight: lighter;
  vertical-align: top;
  position: relative;
  text-align: left;
  font-size: 10px;
  width: 400px;
  padding: 20px;
  color: #fff;
}

.article-content h1 {
  font-size: 20px;
  margin-top: 0px;
}

.article-content p {
  font-size: 15px;
  margin-bottom: 10px;
}

.article-links {
  display: inline-block;
  margin-top: 20px;
}

.article-links a {
  color: white;
  text-decoration: none;
  border: 2px solid;
  padding: 10px 15px;
  font-weight: bold;
}



/**
 * Tutorials
 */